/* pages/wage/wage.wxss */
page{
  padding: 220rpx 0 80rpx;
}
.wage-top-big-con{
  position: fixed;
  top: 0;
  left: 0;
}
.wage-top-con{
  width: 750rpx;
  padding-bottom: 15rpx;
  /* margin-bottom: 30rpx; */
  border-radius: 0 0 60rpx 60rpx;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
.wage-account{
  width: 50rpx;
  height: 50rpx;
  margin-left: 80rpx;
}
.wage-account-name{
  width: 200rpx;
  margin-left: 80rpx;
  text-align: left;
}
.wage-top-msg{
  width: 400rpx;
  font-size: 28rpx;
  color: #104223;
  padding: 15rpx 50rpx;
}
.wage-top-msg-item{
  display: flex;
  justify-content: flex-end;
  line-height: 30rpx;
}
.wage-time-con{
  width: 600rpx;
  margin: 0 auto;
  border: 2rpx solid #ddd;
  border-radius: 50rpx;
  padding: 15rpx 25rpx;
  font-size: 26rpx;
  line-height: 30rpx;
  color: #888;
  display: flex;
  justify-content: space-between;
}

.wage-blank{
  text-align: center;
  color: #ddd;
  font-size: 24rpx;
}

.wage-top-tl{
  display: flex;
  justify-content: space-between;
  width: 720rpx;
  margin: 20rpx auto;
  color: #ddd;
  border-bottom: 4rpx solid #104223;
}
.wage-top-tl view, .wage-tb-date, .wage-tb-dtl view{
  width: 100rpx;
  text-align: center;
  padding: 8rpx 0 10rpx;
}
.wage-tb-date, .wage-tb-dtl{
  color: #036327;
}
.wage-tb-date-double{
  color: #0b2e18;
  font-weight: bold;
}
.wage-tb-item{
  display: flex;
  justify-content: space-between;
  width: 720rpx;
  margin: 20rpx auto;
  border-radius: 20rpx;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 5rpx 5rpx 5rpx 1rpx rgba(255, 255, 255, 0.8);
}
.wage-tb-dtl{
  width: 600rpx;
  display: flex;
  justify-content: space-between;
}