/* pages/enter/enter.wxss */
.enter-tl{
  padding: 350rpx 0 100rpx;
  width: 300rpx;
  margin: 0 auto;
  text-align: center;
  color: #053116;
  font-size: 50rpx;
  font-weight: bold;
}
.enter-btn-con{
  width: 250rpx;
  height: 250rpx;
  margin: 0 auto;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  color: #036327;
  font-size: 28rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100rpx;
}
.enter-btn-con image{
  width: 150rpx;
  height: 150rpx;
  border-radius: 50%;
}

.enter-pwd-con{
  width: 500rpx;
  height: 80rpx;
  line-height: 80rpx;
  margin: 0 auto;
  border-radius: 40rpx;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
}
.enter-pwd-btn{
  width: 120rpx !important;
  height: 80rpx;
  padding: 0 40rpx !important;
  background-color: #053116;
  border-radius: 40rpx;
  line-height: 80rpx;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 28rpx;
}
.enter-pwd-ipt{
  height: 80rpx;
  margin: 0 40rpx;
  color: #036327;
  font-size: 24rpx;
}
.enter-pwd-ipt-holder{
  color: rgba(2, 85, 33, 0.561);
  font-size: 24rpx;
}