/**app.wxss**/
@import './shared/icon.wxss';
page{
  width: 100%;
  height: 100%;
  background: #406453;
}

/**
  全局button样式
*/
button {
  padding: 0;
  background: transparent;
}
button:focus{
  outline: 0;
}

button::after{
  border: none;
}
button.button-hover{
  color: #000;
  background-color: transparent;
}
/**
  全局checkbox样式
*/
/*checkbox 选项框大小  */
checkbox .wx-checkbox-input {
  width: 30rpx;
  height: 30rpx;
}
/*checkbox选中后样式  */
checkbox .wx-checkbox-input.wx-checkbox-input-checked {
  background: #104223;
}
/*checkbox选中后图标样式  */
checkbox .wx-checkbox-input.wx-checkbox-input-checked::before {
  width: 28rpx;
  height: 28rpx;
  line-height: 28rpx;
  text-align: center;
  font-size: 22rpx;
  color: #fff;
  background: transparent;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
}

/**
  全局radio样式
*/
radio-group, label{
  display: flex;
}
label{
  margin-left: 15rpx;
}
/* 选中后背景样式  */
radio .wx-radio-input.wx-radio-input-checked {
  border-color: #104223 !important;
  background: #104223 !important;
}
 
/* 选项框样式.... */
radio .wx-radio-input {
  height: 30rpx;
  width: 30rpx;
  margin-top: -4rpx;
  border-radius: 50%;
  border: 2rpx solid #999;
  background: transparent;
}
 
/* 选中后的 对勾样式 */
 
radio .wx-radio-input.wx-radio-input-checked::before {
  border-radius: 50%; /* 圆角 */
  width: 28rpx; /* 选中后对勾大小，不要超过背景的尺寸 */
  height: 28rpx; /* 选中后对勾大小，不要超过背景的尺寸 */
  line-height: 28rpx;
  text-align: center;
  font-size: 28rpx; /* 对勾大小 30rpx */
  color: #fff; /* 对勾颜色 白色 */
  background: transparent;
  transform: translate(-50%, -50%) scale(1);
}